<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'workout_hub_app/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="navbar-links">
            <a href="{% url 'workout_hub_app:workouts' %}">Train</a>
            <a href="{% url 'pt_programs_app:programs' %}">Programs</a>
            <a href="{% url 'pt_data_app:data' %}">Data</a>
            <a href="{% url 'dashboard_app:dashboard' %}">Dashboard</a>
            <a href="{% url 'goals_app:goals' %}">Goals</a>
            <a href="{% url 'health_metrics_app:metrics' %}">Metrics</a>
        </div>
        <div class="navbar-signin">
            <a>Sign In</a>
        </div>
    </div>

    <h1 style="color: white;">Dashboard</h1>

    {% block content %}
    {% endblock content %}
</body>
</html>
