{% extends "pt_programs_app/pt_programs_base.html" %}

{% block content %}

<p>
    <a href="{% url 'pt_programs_app:programs' %}">Programs Home</a>
    <a href="{% url 'pt_programs_app:create_program' %}">Create Program</a>
</p>

<div class="program-details-container">
    <div class="program-content">
        {{ program.program_name }}
    </div>
    <div>
        Program duration: {{ program.program_duration }} weeks.
    </div>
    <div>
        Program starts: {{ program.start_date }}
    </div>
    <div>
        Program details: {{ program.program_details }}
    </div>
    <div class="program-activites">
        Activites that will be part of this program:
        <ul>
            {% for a in program.activity.all %}
                <li>{{ a.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'pt_programs_app:build_program_weeks' pk=program.pk %}">
        Continue Building Program
    </a>
</div>

{% endblock content %}